.link {
  .button {
    margin-top: 1rem;
    width: 44%;
    height: 5rem;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.next_page {
  .title {
    color: #fff;
  }
  .button {
    z-index: 999;
    position: fixed;
    bottom: 1rem;
    width: fit-content;
    right: 1rem;
  }
  .img {
    height: 100vh;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
}
